{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ],
  "endOfLine": "auto",
  "importOrder": [
    "^react(.*)$",
    "mui/material(.*)",
    "mui/icon(.*)",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}