@import "../styles/GlobalStyles/variables";

.footer {
  background-color: $black;
  color: $white;
  border-top: $blend;
  margin-top: 64px;
}

@media (max-width: 899.99px) {
  .footer__wrapper {
    padding-top: 32px;

    .footer__list {
      margin-top: 32px;
    }
  }
}

@media (max-width: 599.99px) {
  .footer__name,
  .footer__description {
    margin-bottom: 24px;
  }

  .footer__list {
    margin-left: 12px;
  }
}
