.form__container {
  width: 80%;

  .form__formGroup-half {
    width: 100%;
  }

  .form__group__title {
    margin-bottom: 48px;
  }

  .form__helper-text {
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
  }
}

@media (min-width: 600px) and (max-width: 899.99px) {
  .form__container {
    width: 80%;
  }
}

@media (min-width: 900px) and (max-width: 1199.99px) {
  .form__container {
    .form__formGroup-half {
      width: 50%;
    }

    .form__group__title {
      margin-bottom: 48px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1535.99px) {
  .form__container {
    width: 1140px;
  }
}

@media (min-width: 1536px) {
  .form__container {
    width: 1280px;
  }
}
