.profile__container {
    width: 80%;

    .profile__formGroup-half {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 899.99px) {
    .profile__container {
        width: 80%;
    }
}

@media (min-width: 900px) and (max-width: 1199.99px) {
    .profile__container {
        .profile__formGroup-half {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1535.99px) {
    .profile__container {
        width: 1140px;
    }
}

@media (min-width: 1536px) {
    .profile__container {
        width: 1280px;
    }
}